<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Learn Vue - Adding to an Array</title>
</head>
<body>
	
	<div id="root">
		
		<ul>
			<li v-for="name in names" v-text="name"></li>
		</ul>
		
		<!-- append name to list -->
		<input id="input" type="text" v-model="newName">
		<button v-on:click="addName">Add Name</button>

	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

	<script>

		var app = new Vue({
			el: '#root',
			data: {
				newName: '',
				names: ['Joe', 'Mary', 'Jane', 'Jack']
			},

			methods: {
				addName: function() {
					this.names.push(this.newName);
					this.newName = '';
				}
			},

			//-- once everything is ready to go ..
			// mounted() {
			// 	// -- old school way
			// 	document.querySelector('#button').addEventListener('click', () => {

			// 		let name = document.querySelector('#input');

			// 		app.names.push(name.value);
			// 		name.value = '';

			// 	});
			// }
		});

		



	</script>
</body>
</html>





